

      <div >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
          <p *ngIf="flagsCheck">{{message}}</p>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input id="inputEmail" class="form-control" placeholder="Username" required autofocus  type="text" formControlName="username"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors}"/>
          <div *ngIf="submitted && f.username.errors">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  formControlName="password"
                 [ngClass]="{'is-invalid':submitted && f.password.errors}"
          />
          <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <a routerLink="/register">Bạn chưa có tài khoản</a>
          <br>
          <button class="btn btn-primary mr-1">Log in</button>
        </form>
      </div>
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-default" (click)="onReset()" data-dismiss="modal">Close</button>-->
<!--      </div>-->




